player {
    player
    // Maddy's hitbox is 8x11, but displays as 8x16
    physic-body width=8 height=12
    bonker
    collider
    zlevel 100
    colored-hitbox 0xffcc50_ff
}

rod {
    physic-body width=4 height=4
    zlevel 200
    colored-hitbox 0x00ff00_ff
}

wall {
    dimensions w=16 h=16
    collider
    zlevel 100
    texture "tiles/wall"
}
